:root {
  color-scheme: light;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  background: #f6f7fb;
}

button,
input,
select,
textarea {
  font: inherit;
}

.logo a{
  text-decoration: none;
}

.logo a:hover{
  text-decoration: none;
  cursor: pointer;
}

.logo a:visited{
  text-decoration: none;
}
